<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project.6 Blue Studio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Preload -->
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" as="style">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" as="style">
    <link rel="preload" href="app.css" as="style">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" as="script">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js" as="script">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js" as="script">
    <link rel="preload" href="app.js" as="script">

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:300,400,700" />
    <link rel="stylesheet" href="app.css" />

    <!-- Styles -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.9/vue.min.js"></script>
    <script src="app.js" defer></script>
  </head>

  <body>
    <nav class="navbar navbar-blue-studio-class navbar-fixed-top at_top">
      <div class="container">
        <div class="navbar-header"><a class="navbar-brand" href="#header_index">Blue Studio</a>
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#section_about">About</a></li>
            <li><a href="#section_service">Service</a></li>
            <li><a href="#section_works">Works</a></li>
            <li><a href="#section_contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header id="header_index">
      <div class="container"><img class="icon" src="https://ycs.otarc.net/bluestudio/img/blue_studio_icon.svg"/><img class="marginbottom mountain" src="https://ycs.otarc.net/bluestudio/img/margin_header.svg"/>
        <div class="explore at_top">EXPLORE</div>
      </div>
    </header>
    <section id="section_about"><img class="cat" id="cat_top" src="https://ycs.otarc.net/bluestudio/img/cat_top.svg"/><img class="cat" id="cat_left" src="https://ycs.otarc.net/bluestudio/img/cat_left.svg"/><img class="cat" id="cat_lefttop" src="https://ycs.otarc.net/bluestudio/img/cat_lefttop.svg"/><img class="cat" id="cat_right" src="https://ycs.otarc.net/bluestudio/img/cat_right.svg"/><img class="cat" id="cat_righttop" src="https://ycs.otarc.net/bluestudio/img/cat_righttop.svg"/>
      <div id="cross"></div><img class="marginbottom" src="https://ycs.otarc.net/bluestudio/img/margin_about.svg"/>
      <div class="container">
        <div class="row clearfix">
          <div class="col-sm-8 col-sm-offset-4"><img class="tri tri1" src="https://ycs.otarc.net/bluestudio/img/tri1.svg"/>
            <h2 class="r1text">WORKS IN BLUE</h2>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-4"><img class="tri tri2" src="https://ycs.otarc.net/bluestudio/img/tri2.svg"/></div>
          <div class="col-sm-8"><img class="tri tri3" src="https://ycs.otarc.net/bluestudio/img/tri3.svg"/>
            <h3 class="r2text">BLUE STUDIO - Website Design / Development</h3>
            <h3 class="r2text">Interactive Art Deign</h3>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-8">
            <h2 class="r3text">1 MORE SUCCESS CASES</h2>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row clearfix">
          <div class="col-sm-4 btn-area"><a class="btn btn-lg btn-blue" href="#section_works">MORE STORY</a><img class="tri tri4" src="https://ycs.otarc.net/bluestudio/img/tri4.svg"/></div>
          <div class="col-sm-4"><img class="tri tri5" src="https://ycs.otarc.net/bluestudio/img/tri5.svg"/></div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </section>
    <section id="section_service">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Service</h1>
          </div>
          <div class="col-sm-4"><img class="icon_service" src="https://ycs.otarc.net/bluestudio/img/service_icon1.svg"/>
            <h3>CI/VI Design</h3>
          </div>
          <div class="col-sm-4"><img class="icon_service" src="https://ycs.otarc.net/bluestudio/img/service_icon2.svg"/>
            <h3>MotionGraphic </h3>
          </div>
          <div class="col-sm-4"><img class="icon_service" src="https://ycs.otarc.net/bluestudio/img/service_icon3.svg"/>
            <h3>Web Design/Develop</h3>
          </div>
        </div>
      </div>
    </section>
    <section id="section_works"><img class="marginbottom" src="https://ycs.otarc.net/bluestudio/img/margin_contact.svg"/>
      <div class="container" id="app">
        <div class="row" v-if="works.length&gt;0">
          <div class="col-sm-12">
            <h1>Works</h1>
          </div>
          <a :href="works[0].website" target="_blank" class="col-sm-6 work big"><img :src="works[0].img"/>
            <div class="texts">
              <h4 class="title">{{works[0].name}}</h4>
              <p class="content" v-html="works[0].content.substr(0, 40)"></p>
            </div>
          </a>
          <div class="col-sm-6">
            <a :href="w.website" target="_blank" class="col-sm-6 work" v-for="w in works.slice(1, 5)"><img :src="w.img"/>
              <div class="texts">
                <h4 class="title">{{w.name}}</h4>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section id="section_contact"><img class="cat" id="cat_cerulean" src="https://ycs.otarc.net/bluestudio/img/cat_cerulean.svg"/><img class="cat" id="cat_blue" src="https://ycs.otarc.net/bluestudio/img/cat_blue.svg"/><img class="cat" id="cat_deep_blue" src="https://ycs.otarc.net/bluestudio/img/cat_deep_blue.svg"/>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="mails">
              <div class="malicover"><img src="https://ycs.otarc.net/bluestudio/img/mail.svg"/></div>
              <div class="mailbody">
                <h4>Dear Blue Studio:</h4>
                <label>Name:</label>
                <input type="text"/>
                <label>Email:</label>
                <input type="email"/>
                <label>Content:</label>
                <textarea></textarea>
                <div class="btn btn-lg btn-blue submit">Submit</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 content">
            <h2>Contact</h2><br/>
            <p>If you have any question about us, <br>Don`t hestitate to contact us !</p><br/>
            <p>BLUESTUDIO@gmail.com<br>ADDRESS: TAIWAN, TAIPEI , BLUESTIDIO Road<br>Phone: 02-12345678</p>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer_index">
      <div class="container"><a href="#header_index"><img class="icon" src="https://ycs.otarc.net/bluestudio/img/blue_studio_icon.svg"/></a></div>
    </footer>
  </body>
</html>
